*{ 
    margin: 0;
    padding: 0; 

}

.App {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.textContainer { 
    margin: center;
    color:black;
    background-color: white;
    margin:50px;
    padding:5px;
}

.dark-text1 { 
    background-color: rgb(0, 217, 255);
    height: 10vh;
    padding: 2vh;
}

.person-name { 
    font-size: 40px;
}


.person-text{ 
    margin-top: 16rem;
    margin-left: 50rem;
    font-size: 30px;
    
}

.list-text, .list-name { 
    padding: 10px;
}

.movies { 
    margin-left: 50rem ;
}

.inButtons{
    text-align: center;
    font-size: 30px;
    
}

.previousBtn { 
    width: 10vh;
    height: 5vh;
}

.nextBtn { 
    width: 10vh;
    height: 5vh;
}

.dark-text { 
    float: right;
    margin-top: -540px;
    color: black;
    font-size: 50px;
    margin-right: 50px;
};
